.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 设置两列 */
    gap: 20px; /* 设置按钮之间的间距 */
}
.line-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px; /* 按钮长度 */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: black; /* 默认颜色，可移除 */
}
.img-usual { 
    width: 250px; 
    height: 45px; 
}
.img-small { 
    width: 250px; 
    height: 40px; 
}
.line4 { color: #000000; } 