/* styles.css */

/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;/* 网页背景 */
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}

/* 表格样式 */
table {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;/* 表格圆角 */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007BFF;
    color: #4a772a;/* 表头文字颜色 */
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;/* 表格颜色 */
}

tbody tr:hover {
    background-color: #808080; /* 光标悬停颜色 */
    cursor: pointer;
}

.time-remaining {
    font-weight: bold;
    color: #2AD2C5; /* 绿色表示剩余时间 */
}

/* 响应式布局 */
@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
    }
}